<section id="setup-person">
  <header class="panel-heading bg-blue">Nice! You know all <%= @stats[:total] %> people!</header>
  <div class="body-state"><%= link_to "Keep Going", root_path(continue: true), class:"btn btn-primary btn-block" if current_person.knows.any? %></div>
</section>
