<section class="main">
  <%= react_component "Stats", stats: @stats %>

  <div id="person-image-container">
    <%= react_component "PersonImage", src: @image_src %>
  </div>

  <div id="question-container">
    <%= react_component "QuestionWrapper", question: @question, choices: @choices %>
  </div>
</section>
